body{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background-color: white;
}

.navbar.navbar-default.navbar-static-top{
    background-color: #009688;
    color:whitesmoke;
}

.pics {
    padding: 0.7%;
    margin: 3% 0%;
    background-color: #eceeef;
    font-size: 0.7em;
    color: #eceff1;
    font-weight: 400;
    -webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.overlay{
    position: relative;
    bottom:192px;
    background: rgba(0, 0, 0, .6);
}

#header-pic {
    background-image: url('../images/office.jpg');
    /*background-position: center;*/
    padding-bottom: 60px;
    padding-top: 60px;
    margin-bottom: 0;
}

.form-group, .is-empty{
    margin: 0;
}

.typeahead-category-name{
    font-size: 0.7em;
}

/*#navbar-search-input{*/
    /*background-color: white !important;*/
/*}*/

.tt-suggestion.tt-cursor {
    color: #000000;
    background-color: #0097cf;
}

.btn.btn-default.btn-sm.dropdown-toggle.nav-button-toggle{
    margin-top: 10px;
    background-color: #004D40;
}

/*
.tt-menu{
    margin-top:-10%;
}
*/

/*Admin Nav bar*/
.navbar .navbar-form .form-group .form-control,
.navbar .navbar-form .form-control {
    color: black;
}
.navbar .navbar-brand {
    color: black;
}

.material-icons {
    vertical-align: middle;
    margin: 0 0.4%;
    display: inline-flex;
}