body{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.pics {
    padding: 0.7%;
    margin: 1% 0;
    background-color: #263238;
    font-size: 0.7em;
    color: #eceff1;
    font-weight: 400;
    -webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.overlay{
    position: relative;
    bottom:192px;
    background: rgba(0, 0, 0, .6);
}

#header-pic {
    background-image: url('../images/office.jpg');
    /*background-position: center;*/
    padding-bottom: 60px;
    padding-top: 60px;
    margin-bottom: 0;
}

.form-group, .is-empty{
    margin: 0;
}

.typeahead-category-name{
    font-size: 0.7em;
}

#navbar-search-input{
    background-color: white !important;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}