body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: white;
  line-height: 1.5em;
}
b,
strong {
  font-weight: 500;
}
footer {
  margin-top: 5%;
  margin-bottom: 0;
}
hr.gradient {
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
h1.title {
  font-size: 2.4em;
  margin-bottom: 4%;
}
h2.title {
  font-size: 1.6em;
  margin-top: 4%;
}
h3.title {
  margin-top: 4%;
  font-size: 1.4em;
}
h4.title {
  margin-top: 4%;
  font-size: 1.2em;
}
h5.title {
  margin-top: 4%;
  font-size: 1em;
}
ul {
  list-style: square inside;
  padding-left: 1%;
}
code {
  padding: 0 2px;
  font-size: 100%;
  color: #F5F5F5;
  background-color: #CFD8DC;
}
span.code {
  background-color: #CFD8DC;
  color: #263238;
  display: block;
  margin: 3% 0;
  padding: 1% 2%;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.panel .panel-heading i {
  float: none;
  font-size: medium;
}
.panel .panel-heading a {
  color: #1E88E5;
  font-weight: 600;
}
/***Layout***/
.overlay {
  position: relative;
  bottom: 192px;
  background: #263238;
}
#header-pic {
  background-image: url(/fonts/logo.svg?b706a132e2f730720c34ac68972da8a6);
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 60px;
  padding-top: 60px;
  margin-bottom: 0;
}
.navbar.navbar-default.navbar-static-top.excel-layout-navigation {
  background-color: #607D8B #F5F5F5;
  color: #607D8B;
}
.navbar .dropdown-menu li > a:hover,
.navbar .dropdown-menu li > a:focus,
.navbar.navbar-default .dropdown-menu li > a:hover,
.navbar.navbar-default .dropdown-menu li > a:focus {
  background-color: #607D8B;
}
.navbar .navbar-brand {
  padding: 5px 15px;
}
.btn.btn-default.btn-sm.dropdown-toggle.nav-button-toggle,
.btn.btn-default.btn-sm.nav-button-toggle {
  margin-top: 10px;
  background-color: #263238;
}
#button-modal-quiz {
  background-color: #4CAF50;
}
.typeahead-category-name {
  font-size: 0.7em;
}
.tt-suggestion.tt-cursor {
  color: #F5F5F5;
  background-color: #607D8B;
}
#searchbar-button {
  margin-top: 6px;
  color: #F5F5F5;
  background-color: #4CAF50;
}
#navbar-search-input::-webkit-input-placeholder {
  color: #F5F5F5;
  font-size: 0.9em;
}
#navbar-search-input:-ms-input-placeholder {
  color: #F5F5F5;
  font-size: 0.9em;
}
#navbar-search-input::placeholder {
  color: #F5F5F5;
  font-size: 0.9em;
}
.navbar {
  border-radius: 0;
  padding: 10px 20px;
}
.navbar .navbar-nav > li > a {
  border-radius: 0;
}
@media (max-width: 768px) {
  .navbar .navbar-collapse .open .dropdown-menu > li > a:hover,
  .navbar .navbar-collapse .open .dropdown-menu > li > a:focus {
    color: #263238;
  }
  .navbar .navbar-collapse .caret {
    margin-top: -4px;
  }
}
@media (min-width: 769px) {
  .navbar .navbar-nav > li > a:hover,
  .navbar .navbar-nav > li > a:focus {
    background-color: #78909C;
    color: #F5F5F5;
  }
  .navbar .navbar-nav > .open > a,
  .navbar .navbar-nav > .open > a:hover,
  .navbar .navbar-nav > .open > a:focus {
    background-color: #78909C;
    color: #F5F5F5;
  }
}
.list-group-item {
  color: #263238;
}
.form-group,
.is-empty {
  margin: 0;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-width: 0;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 6px 0 6px 6px;
}
.btn,
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus,
.btn:active:hover,
.btn.active:focus,
.btn.active:hover,
.open > .btn.dropdown-toggle,
.open > .btn.dropdown-toggle:focus,
.open > .btn.dropdown-toggle:hover,
.btn.btn-default,
.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-default:active,
.btn.btn-default.active,
.btn.btn-default:active:focus,
.btn.btn-default:active:hover,
.btn.btn-default.active:focus,
.btn.btn-default.active:hover,
.open > .btn.btn-default.dropdown-toggle,
.open > .btn.btn-default.dropdown-toggle:focus,
.open > .btn.btn-default.dropdown-toggle:hover,
.navbar .navbar-nav > li > a.btn,
.navbar .navbar-nav > li > a.btn:hover,
.navbar .navbar-nav > li > a.btn:focus,
.navbar .navbar-nav > li > a.btn:active,
.navbar .navbar-nav > li > a.btn.active,
.navbar .navbar-nav > li > a.btn:active:focus,
.navbar .navbar-nav > li > a.btn:active:hover,
.navbar .navbar-nav > li > a.btn.active:focus,
.navbar .navbar-nav > li > a.btn.active:hover,
.open > .navbar .navbar-nav > li > a.btn.dropdown-toggle,
.open > .navbar .navbar-nav > li > a.btn.dropdown-toggle:focus,
.open > .navbar .navbar-nav > li > a.btn.dropdown-toggle:hover,
.navbar .navbar-nav > li > a.btn.btn-default,
.navbar .navbar-nav > li > a.btn.btn-default:hover,
.navbar .navbar-nav > li > a.btn.btn-default:focus,
.navbar .navbar-nav > li > a.btn.btn-default:active,
.navbar .navbar-nav > li > a.btn.btn-default.active,
.navbar .navbar-nav > li > a.btn.btn-default:active:focus,
.navbar .navbar-nav > li > a.btn.btn-default:active:hover,
.navbar .navbar-nav > li > a.btn.btn-default.active:focus,
.navbar .navbar-nav > li > a.btn.btn-default.active:hover,
.open > .navbar .navbar-nav > li > a.btn.btn-default.dropdown-toggle,
.open > .navbar .navbar-nav > li > a.btn.btn-default.dropdown-toggle:focus,
.open > .navbar .navbar-nav > li > a.btn.btn-default.dropdown-toggle:hover {
  background-color: #ECEFF1;
  color: #263238;
}
.navbar .navbar-form .form-group .form-control,
.navbar .navbar-form .form-control {
  color: #263238;
}
.sidebar {
  background-color: #263238;
}
.sidebar .logo-normal {
  margin-left: 15px;
}
.sidebar .logo .logo-mini {
  display: none;
}
.perfect-scrollbar-on .sidebar .sidebar-wrapper,
.sidebar .sidebar-wrapper,
.perfect-scrollbar-on .main-panel,
.main-panel {
  overflow: auto;
}
.sidebar[data-active-color="purple"] li.active > a {
  background-color: #607D8B;
  -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
          box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}
.navbar .navbar-brand {
  color: #263238;
}
#back-button {
  margin-top: 10px;
}
.li-language-switcher {
  color: #263238;
}
@media (max-width: 768px) {
  .navbar.navbar-transparent .navbar-toggle .icon-bar {
    color: #263238;
  }
}
#textarea-post-body {
  background-color: white;
  color: #263238;
  font-family: monospace;
}
.bootstrap-select > .dropdown-toggle.bs-placeholder:active,
.bootstrap-select > .dropdown-toggle.bs-placeholderfocus,
.bootstrap-select > .dropdown-toggle.bs-placeholderhover {
  color: #FFFFFF;
}
.breadcrumbs {
  font-size: 0.8em;
  color: #607D8B;
}
.pics {
  padding: 0.7%;
  margin: 4% 0;
  background-color: whitesmoke;
  font-size: 0.7em;
  color: #263238;
  font-weight: 400;
  -webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.material-icons {
  vertical-align: middle;
  margin-right: 0.4%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.loading-gif {
  display: block;
  margin: 0 auto;
}
.ul-answer-options {
  padding-left: 0;
  list-style-type: none;
}
.quiz-finished {
  display: none;
}
.quiz-result {
  text-align: center;
}
.quiz-result-points {
  text-align: center;
}
.quiz-result-message {
  margin-top: 3%;
  text-align: center;
}
.button-show-answer {
  display: none;
}
